<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%%= Rails.application.engine_name.titleize %></title>
  <%%= stylesheet_link_tag :application, media: "all" %>
  <%%= csrf_meta_tags %>
</head>
<body class="<%%= "#{controller.controller_name} #{controller.action_name}" %>">
  <%%= render "flashes" -%>
  <%%= yield %>
  <%%= render "javascript" %>
</body>
</html>
